@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&family=Tilt+Prism&display=swap');

body {
  background-image: url("https://img.freepik.com/premium-photo/light-effects-backgrounds-electronics-futuristic_53876-232997.jpg");
  background-size: 100%;
} 

/* Google font usage */
h1 {
  font-family: "Trirong", serif;

}

h3 {
/* text-align: center; */
position: absolute; 
top: 50%;
right: 50%;
}

img {

  height: 150px;
/*     width: 300px ;  */
  
}

#message {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 50px; /* This ensures it's above the footer */
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}